.btn {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    color: rgb(97, 97, 97);
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    border: 1;
    border-color: #af27c7;
    outline: 0;
    border-radius: 3rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}